@model Blogifier.Core.ViewModels.PostList
@foreach (var item in Model.Posts)
{
<div class="post">
    <header>
        <h2><a href="~/@Blogifier.Constants.Blogs/@item.BlogSlug/@item.Slug/">@item.Title</a></h2>
        <div>
            <span>@string.Format("{0:MMM d, yyyy}", item.Published)</span>
            @foreach (var cat in item.Categories)
            {
            <span>| <a href="~/@Blogifier.Constants.Category/@item.BlogSlug/@cat.Slug">@cat.Title</a></span>
            }
        </div>
    </header>
    <p>@Html.Raw(item.Content)</p>
    <p>
        <button class="btn btn-raised btn-primary" onclick="location.href='@Url.Content("~/")@Blogifier.Constants.Blogs/@item.BlogSlug/@item.Slug'">Learn more</button>
    </p>
</div>
}