@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Blogifier.Core.ViewModels.PostList
@{
    var theme = "Bootstrap";
    Layout = "~/Views/Blogifier/Admin/Themes/" + theme + "/_Layout.cshtml";

    var olderUrl = string.Format("/{0}/page/{1}", Blogifier.Constants.Admin, Model.Pager.OlderPage);
    var newerUrl = Model.CurrentPage < 3 ? 
        string.Format("/{0}", Blogifier.Constants.Admin) : 
        string.Format("/{0}/page/{1}", Blogifier.Constants.Admin, Model.Pager.NewerPage);
}
@foreach (var item in Model.Posts)
{
    <div class="post">
        <header>
            <h1><a href="@Url.Content("~/")@Blogifier.Constants.Blogs/@item.BlogSlug/@item.Slug/">@item.Title</a></h1>
            <div>
                <span>@string.Format("{0:MMM d, yyyy}", item.Published)</span>
            </div>
        </header>
        <p>@Html.Raw(item.Content)</p>
        <p>
            <a class="btn btn-primary" href="@Url.Content("~/")@Blogifier.Constants.Admin/editor/@item.Slug/" role="button">Edit</a>
            <a class="btn btn-danger" href="@Url.Content("~/")@Blogifier.Constants.Admin/delete/@item.PostId" role="button">Delete</a>
        </p>
    </div>
}
<nav>
    <ul class="pager">
        <li class="@Model.Pager.NewerCss"><a href="@newerUrl"><span aria-hidden="true">&larr;</span> Newer</a></li>
        <li class="@Model.Pager.OlderCss"><a href="@olderUrl">Older <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>