@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Blogifier.Core.ViewModels.PostList
@{
    var theme = "Bootstrap";
    Layout = "~/Areas/Admin/Views/Themes/" + theme + "/_Layout.cshtml";
}
@foreach (var item in Model.Posts)
{
    <div class="post">
        <header>
            <h1>
                <a href="@Url.Content("~/")@Blogifier.Constants.Blogs/@item.BlogSlug/@item.Slug/">
                    @item.Title
                </a>
            </h1>
            <div>
                <span>@string.Format("{0:MMM d, yyyy}", item.Published)</span>
            </div>
        </header>
        <p>@Html.Raw(item.Content)</p>
        <p>
            <a class="btn btn-primary" href="@Url.Content("~/")@Blogifier.Constants.Admin/editor/@item.Slug/" role="button">Edit</a>
            <a class="btn btn-danger" href="@Url.Content("~/")@Blogifier.Constants.Admin/delete/@item.PostId" role="button">Delete</a>
        </p>
    </div>
}
@await Html.PartialAsync("~/Areas/Admin/Views/Themes/Bootstrap/Pager.cshtml", Model)