@model Blogifier.Core.ViewModels.PostList
@{
    var theme = "Standard";
    Layout = "~/Views/Blogifier/Themes/" + theme + "/_Layout.cshtml";

    var olderUrl = string.Format("/category/{0}/{1}/page/{2}", ViewBag.BlogSlug, ViewBag.Category, Model.Pager.OlderPage);
    var newerUrl = Model.CurrentPage < 3 ?
        string.Format("/category/{0}/{1}", ViewBag.BlogSlug, ViewBag.Category) :
        string.Format("/category/{0}/{1}/page/{2}", ViewBag.BlogSlug, ViewBag.Category, Model.Pager.NewerPage);
}
@Html.Partial("~/Views/Blogifier/PostLoop.cshtml", Model)
<nav>
    <ul class="pager">
        <li class="@Model.Pager.NewerCss"><a href="@newerUrl"><span aria-hidden="true">&larr;</span> Newer</a></li>
        <li class="@Model.Pager.OlderCss"><a href="@olderUrl">Older <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
@await Html.PartialAsync("~/Views/Blogifier/Themes/Standard/Subfooter.cshtml")